name: Deploy

on: # workflow_dispatch
  push:
    branches: # for testing
      - 'workflow/testing'

# Allow one concurrent
concurrency:
  group: "deploy"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: bot-prod
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build
        env:
          DISCORD_BOT_TOKEN: ${{ secrets.DISCORD_BOT_TOKEN }}
          FINNHUB_API_KEY: ${{ secrets.FINNHUB_API_KEY }}
          MONGO_DB_URI: ${{ secrets.MONGO_DB_URI }}
        run: |
          swift build -c release
          ./.build/release/MarketEvents
